name: Build
on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt-get install -y libgtest-dev libmemtailor-dev
      - name: Build mathic
        run: |
          ./autogen.sh
          cd build/autotools
          ../../configure
          make
      - name: Check mathic
        run: |
          cd build/autotools
          make distcheck
