name: Build
on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt-get install -y libgtest-dev libmemtailor-dev
      - name: Build mathic (autotools)
        run: |
          ./autogen.sh
          cd build/autotools
          ../../configure
          make
          make check
          make distcheck
      - name: Build mathic (cmake)
        run: |
          mkdir -p build/cmake
          cd build/cmake
          cmake -B. -S../.. -GNinja
          ninja
